
/* From Uiverse.io by krittika_3142 */ 
.finmate-card {
  background: linear-gradient(145deg, #1a1a1f, #0e0e10);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 25px;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Poppins", sans-serif;
  margin-right: 20px;
  display: flex;
  flex-direction: column;

}

.finmate-card-balance {
  margin-bottom: 20px;
}

.finmate-card-label {
  font-size: 1rem;
  color: #ada4a4;
  margin-bottom: 5px;
}

.finmate-card-amount {
  font-size: 1.8rem;
  color: #f5f5f5;
  margin: 0;
  font-weight: 600;
}

.finmate-card-summary {
  display: flex;
  justify-content: center;

}

.finmate-card-green {
  color: #4ade80;
  font-weight: bold;
  font-size: 0.9rem;
}

.finmate-card-red {
  color: #e62323;
  font-weight: bold;
  font-size: 1em;
   background: linear-gradient(145deg, #000000, #1d1d22);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 5px;
  border-radius: 6px;
  
}

