.calendar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 0 10px 8px rgba(130, 131, 133, 0.7); 
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.calendar-header h2 {
  margin: 0;
}

.calendar-header button {
  background: #333;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.calendar-weekdays,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.weekday {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 0;
  background: #2c2c2c;
  margin-bottom:8px;
}

.day {
  padding: 1.5rem 0;
  text-align: center;
  cursor: pointer;
  background: #2c2c2c;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  color: #eee;
}

.day:hover {
  background-color: #3a3a3a; /* slightly lighter dark gray */
  color: #fff; /* brighten text on hover */
}


.day.today {
  background: #444;
  border: 2px solid #af1818;
}

.day.empty {
  background: transparent;
}

.day:hover {
  background-color: #3a3a3a;
  color: #fff;
}

/* Override hover on selected so it stays consistent */
.day.selected:hover {
  background-color: #4ade80;
  color: black;
  cursor: default;
}

.day.selected {
  background-color: #181f19;
  border: 2px solid #388e3c;
  color: #2e7d32;
}

.expense-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(29, 26, 26);
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px 2px rgba(243, 245, 247, 0.7); 
  z-index: 1000;

  text-align: center;

  max-width: 90%;
  width: 400px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-btn {
  margin-top: 10px;
  background-color: #ddd;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #ccc;
}


.expense-summary {
 
  font-size: 1rem;
  font-weight: bold;
  color:#f11111;
  background: rgba(194, 179, 179, 0.1);
  border-radius: 4px;
  padding: 2px 5px;
}


.expense-modal h3 {
  margin-top: 0;
}

.expense-modal input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #222;
  color: white;
}

.expense-modal button {
  margin-right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #4ade80;
  color: black;
  cursor: pointer;
}

.expense-modal .close-btn {
  background-color: #ef4444;
  color: white;
}
