.chart-container {
  max-width: 800px;
  max-height: 500px;
  margin-top: 1rem ;
  margin-bottom: 1rem;
  padding: 1rem 20%;
  background-color: #9b8e8e;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.chart-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .chart-container {
    padding: 1rem;
    border-radius: 12px;
  }

  .chart-title {
    font-size: 1.2rem;
  }
}
